.eachother a{
	color:blue;
}
.guangzhu{
	float: right;
}
.nofollowAuthor{
	display: block;
	margin: 0 auto;
	text-align: center;
}
.nofollowAuthor p{
	color: #31b0d5;
	height: 50px;
	line-height: 50px;
	font-size: 20px;
	font-weight: 600;
	text-align: center;
	vertical-align: middle;
	/*padding-top: 50px;*/
	margin: 0 0;
}
.nofollowAuthor a{
	margin-top: 30px;
	display: inline-block;
	font-size: 16px;
}
.nofollowAuthor a:hover{
	text-underline: none;
	text-decoration: none;
}