<% include ../includes/header.html %>
    <div class="container main-container" style="padding-bottom: 10px">
        <div class="container second-container" >
            <h2>关于</h2>
            <hr style="border-top: 5px solid #03a9f4">
            <div class="container-mess">
                <div class="row-mess">
                    <div class="col-2-mess">说明</div>
                    <div class="col-10-mess">rainbow博客是一款适用于IT开发的程序员</div>
                </div>
                <div class="row-mess">
                    <div class="col-2-mess">技术</div>
                    <div class="col-10-mess">node.js,mongodb,express,multer,ejs,javascript,html,css,jquery</div>
                </div>
                <div class="row-mess">
                    <div class="col-2-mess">支持浏览器</div>
                    <div class="col-10-mess">目前没有做到全部兼容;除IE低版本浏览器外其他基本都兼容;主要适用于谷歌浏览器</div>
                </div>
                <div class="row-mess">
                    <div class="col-2-mess">意见反馈</div>
                    <div class="col-10-mess">739156890@qq.com</div>
                </div>
                <div class="row-mess">
                    <div class="col-2-mess">开发合作</div>
                    <div class="col-10-mess">联系微信:739156890</div>
                </div>
                <div class="row-mess">
                    <div class="col-2-mess">技术更新</div>
                    <div class="col-10-mess">有时间的话会将express框架换成新一代的koa2</div>
                </div>
                <div class="row-mess">
                    <div class="col-2-mess">待优化</div>
                    <div class="col-10-mess">其中持久化层需要进一步优化；进一步优化发挥node优越的异步性能；架构还不够清楚，很多页面公用的部分还不够充分复用性；拓展性</div>
                </div>
            </div>
        </div>
    </div>
<% include ../includes/footer.html %>