<% include ../includes/header.html %>
    <div>
        <!--主要内容-->
        <div class="container main-container">

            <%
                if(followList){
                for(var i=followList.length-1;i>=0;i--){
                var followAuthor=followList[i];
            %>
            <div class="header-container">
                <div class="row">
                    <div class="col-md-2" style="padding:5%;">
                        <img src="/images/<%= followAuthor.icon %>" style="width:100px; height:100px;" id="myicon">
                    </div>
                    <div class="col-md-5" style="padding:5%;">
                        <div><h1>作者:&nbsp;&nbsp;<a href="/getAuthorInfo/<%= followAuthor._id %>"><%= followAuthor.name%></a></h1></div>
                        <div style="margin-top: 30px;">爱心值：
                            <span>
                                <img src="/images/love.jpg" style="width:20px; height:20px; ">
                                <img src="/images/love.jpg" style="width:20px; height:20px; ">
                                <img src="/images/love.jpg" style="width:20px; height:20px; ">
                            </span>
                        </div>
                    </div>
                    <div class="col-md-2" style="padding: 7% 5%">
                        <div class="guangzhu">
                            <button class="btn btn-primary" id="cancelFollow" onclick="cancelFollw('<%= followAuthor._id %>')">取消关注</button>
                        </div>
                    </div>
                </div>
            </div>
            <%
                }
                }else{
            %>
                <div class="nofollowAuthor">
                    <p>你还没有关注任何人，请先关注再来查看。。。。。。</p>
                    <span id="secend">将在5秒后跳转</span>
                    <a href="/bloglist">立即返回</a>
                </div>
            <%
                }
            %>

        </div>
    </div>

<script type="text/javascript">
    //取消关注
    function cancelFollw(authorid){
        var url='/unfollow';
        $.ajax({
            url: url,
            type: 'post',
            data: {authorid: authorid},
            dataType: 'json',
            async: false,
            success: function(data){
                if(data.result=='ok'){
                    setTimeout(function(){
                        window.location.reload();
                    },500);
                }else{
                    alert(data.result);
                }
            }
        })
    }
    $(function(){
        var n=5;
        var second=$('#secend').html();
        console.log(second);
        if(second && second!='undefined'){
            var timer=setInterval(function(){
                n--;
                console.log(n);
                if(n<=1){
                    clearInterval(timer);
                    setTimeout(function(){
                        window.location.href='/bloglist';
                    },500);
                }
                $('#secend').html('将在'+n+'秒后跳转');
            },1000);
        }
    })
</script>
<% include ../includes/footer.html %>